%aside.right
  = image_tag 'link-state.png'
  %h2 Important Info
  %ul.aside-list
    %li
      %span.key Date:
      .value October 26th-27th 2013
      %span.key Time:
      .value 12:00PM-7:00PM, 10:30AM-3:00PM
      %span.key Location:
      .value
        %a{:href => 'http://goo.gl/xsJQRd'} Hovorka Atrium, Agnar Pytte Science Center, Case Western
      %span.key Contact:
      .value
        %a{:href => 'mailto:agn31@case.edu'} Aaron Neyer
      %span.key Twitter:
      .value
        %a{:href => 'https://twitter.com/cwruacm'} @cwruacm 
      %span.key Hashtag:
      .value #linkstate
      %span.key Facebook Event:
      .value
        %a{:href => 'https://www.facebook.com/events/1394226600806839'} Link-State 2013
%h1 Link-State 2013
:markdown
  ACM at Case Western Reserve University is proud to present our *second annual*
  conference. This year it will be a two day conference, and we've got a lot of
  awesome speakers coming.

  This page is a living document, it will be updated with information over time, **important updates will be emailed to you if you have signed up**.

%ul.toci
  %li
    %a{:href => '#register'} Register
  %li
    %a{href: '#sponsors'} Sponsors
  %li
    %a{:href => '#schedule'} Schedule 
  %li
    %a{:href => '#parking'} Parking
  %li
    %a{:href => '#travel'} Travel
  %li
    %a{:href => '#parking'} Meals

:javascript
  var youTubeEmbedLink = function(id) {
    return 'http://www.youtube.com/embed/' + id;
  }
  var hideAllMediaContainers = function() {
    $('.media-container').hide();
  };
  var showMediaContainer = function(speakers_last_name) {
    hideAllMediaContainers();
    $container = $('#' + speakers_last_name);
    var initialYouTubeId = $container.find('.playVideo').first().data('video-id');
    var scribdId = $container.find('.scribd_iframe_embed').data('scribd-id');
    $container.find('.player').attr('src', youTubeEmbedLink(initialYouTubeId));
    $container.find('.scribd_iframe_embed').attr('src', 'http://www.scribd.com/embeds/' + scribdId + '/content?start_page=1&view_mode=slideshow&access_key=key-1srs9stk1x1wvj41y0bh');
    $container.show();
    $('body,html').animate({
      scrollTop: $container.position().top
    }, 1500)
  };
  var playVideoHandler = function(ev) {
    $container = $(ev.target).parents('.media-container');
    if ($player = $container.find('.player')) {
      $player.attr('src', youTubeEmbedLink($(ev.target).data('video-id')));
    }
  };
  $(function() {
    $('.playVideo').each(function(i) {
      $(this).on('click', playVideoHandler);
    });

    if (window.location.hash.indexOf("#Talk-") == 0) {
      showMediaContainer(window.location.hash.split('-')[1]);
    }
  });
-@speakers.each do |s|
  -last_name = s['name'].split.last
  .media-container{ :id => last_name }
    %h2 Presentation Viewer &mdash; #{s['name']}
    .video
      -if s['youtube']
        %iframe.player{ :width => '420', :height => '315', :src => '', :frameborder => 0, :allowfullscreen => '' }
        %ul
          -s['youtube'].sort_by{ |x| x['order'] }.each do |yt|
            %li{ :id => "#{last_name}-#{yt['order']}" }
              %a.playVideo{ :href => "#Talk-#{last_name}", :'data-video-id' => yt['youtube_id'] } Part #{yt['order']}
      -else
        .none
          No Video Available
    .slides
      -if s['scribd_id']
        %iframe.scribd_iframe_embed{ :'data-scribd-id' => s['scribd_id'], 'data-aspect-ratio' => '1.29936305732484', 'data-auto-height' => 'false', :frameborder => '0', :height => '315', :scrolling => 'no', :src => "", :width => '420' }
      -else
        .none
          No Slides Available

#register
  %h2 Register
  %iframe{:width => '100%', :height => '300', :frameborder => '0', :src => 'http://www.eventbrite.com/tickets-external?eid=7553750471&ref=etckt&v=2', :target => 'HTML' }
    %img{ :border => '0',  :src =>'http://www.eventbrite.com/custombutton?eid=4653432542', :alt =>'Register for Eventbrite API - Office Hours on Eventbrite'}
  If you're interested in working for any of the companies sponsoring the conference,
  then upload your resume here.
  %input{type: 'filepicker', 'data-fp-apikey' => 'A3vgjzpWZSHfsjPY42iuwz',
  'data-fp-button-text' => 'Upload Resume', 'data-fp-store-location' => 'S3'}

#sponsors
  %h2 Sponsors
  %br
  #main-sponsors
    .sponsor
      %a{href: 'http://usg.case.edu'}
        = image_tag 'usg-logo.png', width: '200px', alt: 'USG', title: 'USG'
    .sponsor
      %a{href: 'http://www.yelp.com'}
        = image_tag 'yelp-logo.png', width: '200px', alt: 'Yelp', title: 'Yelp'
    .sponsor
      %a{href: 'http://www.causes.com'}
        = image_tag 'causes-logo.png', width: '200px', alt: 'Causes', title: 'Causes'
    .sponsor
      %a{href: 'http://www.vkcareers.com'}
        = image_tag 'vklogo.png', width: '200px', alt: 'VK', title: 'VK'
    .sponsor
      %a{href: 'http://www.google.com'}
        = image_tag 'google-logo.png', width: '200px', alt: 'Google', title: 'Google'
    .sponsor
      %a{href: 'http://www.microsoft.com'}
        = image_tag 'microsoft-logo.png', width: '200px', alt: 'Microsoft', title: 'Microsoft'
    .sponsor
      %a{href: 'http://www.leandog.com'}
        = image_tag 'leandog.png', width: '200px', alt: 'LeanDog', title: 'LeanDog'

%h2 Schedule
%table#schedule{:border => 1}
  %thead
    %th Time
    %th Clapp 108
    %th Degrace 312
    %th Hovorka Atrium
  %thead
    %th{colspan: 5} Saturday
  %tr
    %td 12:00pm
    %td
    %td
    %td Networking Event (w/ Lunch served)
  %tr
    %td 2:00pm
    %td
      %a{:href => '#Stack-desc'} Brian Stack (Yelp)
    %td
      %a{:href => '#Gammell-desc'} Chris Gammell (Amp Hour)
    %td
  %tr
    %td 3:00pm
    %td
      %a{:href => '#Saks-desc'} Dan Saks
    %td
      %a{:href => '#Wouters-desc'} Kendall Wouters (VK)
    %td
  %tr
    %td 4:00pm
    %td
      %a{:href => '#ODonnell-desc'} Matt O'Donnell (Leandog)
    %td
      %a{:href => '#Gunderman-desc'} John Gunderman (Google)
    %td
  %tr
    %td 5:00pm
    %td
      %a{href: '#Meyer-desc'} Eric Meyer - Keynote
    %td
    %td
  %tr
    %td 6:00pm
    %td Lightning Talks
    %td
    %td Dinner Served
  %tr
    %th{colspan: 5} Sunday
  %tr
    %td 11:00am
    %td
      %a{href: '#White-desc'} Isaac White (Microsoft)
    %td
      %a{:href => '#Dooner-desc'} Tom Dooner (Causes)
    %td
  %tr
    %td 12:00pm
    %td
      %a{href: '#Downs-desc'} Tim Downs (Sociagram)
    %td
    %td
  %tr
    %td 1:00pm
    %td Lightning Talks
    %td 
    %td Lunch Served

#speakers
  #keynote.hilite
    %h2
      Keynote: #{@keynote['title']}
      %br
      with #{@keynote['name']}
      %span.twitter= @keynote['twitter']
    :markdown
      #{@keynote['bio']}

  %h2 Speakers
  %ul.speaker-list
    - @speakers.each do |s|
      -last_name = s['name'].split.last.gsub(/\W/,'').gsub(/\W/,'')
      %li{ :id => "#{last_name}-desc" }
        - if s['email']
          %a{ href: "mailto:#{s['email']}"}
            %h3= s['name']
        - else
          %h3= s['name']
        -if s['twitter']
          %span.twitter= s['twitter']
        .affiliation= s['affiliation']
        .title= s['title']
        .bio
          :markdown
            #{s['bio']}
        -if s['website']
          %a{ :href => s['website'] }= s['website']

#parking
  %h2 Parking
  :markdown
    Visitor parking is available in <a href="http://goo.gl/maps/qDdWW">lots 29 and 53</a>.  Standard parking charges an hourly rate for parking in these lots.  More information on parking can be found on <a href="http://www.case.edu/accessservices/parking_rates.html">Standard Parking's website</a>(scroll to the bottom for hourly rates).

#travel
  %h2 Travel
  :markdown
    Information on travel and lodging can be found at Case Western's
    [Visiting CWRU page](http://www.case.edu/finadmin/security/travel/visit.html).
  
#meals
  %h2 Meals
  :markdown
    There will be catered lunch and dinner on Saturday, and lunch on Sunday.
    The signup form has a field for dietary restrictions!

:javascript
  $(document).ready( function() {
    $('#schedule td').each( function(index, el) {
      var el = $(el);
      el.hover(
        function() {
          //handle in
        },
        function() {
          //handle out
        }
      );
    });
  });
