%aside.right
  %img{ src: '/images/acm_logo.png', style: 'width: 300px; margin-bottom: 25px;' }
  %h2 Contact Us
  %ul.aside-list
    %li
      %a.key{ href: 'mailto:bis12@case.edu' } Brian Stack
      .value president
    %li
      %a.key{ href: 'mailto:mkv13@case.edu' } Matthew Varley
      .value vice president
    %li
      %a.key{ href: 'mailto:jdd49@case.edu' } John Dulin
      .value treasurer
    %li
      %a.key{ href: 'mailto:ndm25@case.edu' } Nathan McKinley
      .value secretary

%h1.root ACM
:markdown
  We _really_ love computers. We also know that one of the most important parts
  of an education is experiential learning. Our goal is to supplement the
  top-notch Case Western Computer Science curriculum with top-notch practical
  skill development by planning events, working on projects together, and
  providing valuable networking opportunities for members.

  Below is an abbreviated list of what is on our plate for this semester. *If
  you are interested in being involved in one of these projects (even if you
  aren't a Computer Science major), drop the project leader an e-mail!*
%h2#conference ACM Conference: Link-State 2012
:markdown
  We're hosting our *first annual* conference on Saturday, October 27th. We will
  have speakers from several tech companies and multiple workshops to practice
  hands-on techniques. More information will be posted as details are finalized.

  For more information:

  * Project Leader: [ John Gunderman ](mailto:jrg149@case.edu)
  * Website: [#{@acm_conference_url}](#{@acm_conference_url})
%h2#apache ACM Apache
:markdown
  Ever wanted experience with real-world software engineering techniques? We
  will give students experience with an ecosystem of code review, continuous
  integration, code deployment, and other technologies as they work on projects
  to benefit current and future students of Case Western Reserve University.

  Open Projects:

  * Rewrite [Case Scheduler](http://scheduler.case.edu)
  * _Have an idea? Submit it to [Brian Stack](mailto:bis12@case.edu)_

  For more information:

  * Project Leader: [ Brian Stack ](mailto:bis12@case.edu)
  * _[Help us fund ACM Apache servers!](#{url_for(:acm, :servers)})_ (These
  servers will host all projects admitted to the CWRU ACM Apache foundation.)
%h2#servers ACM Servers
:markdown
  We all need places to play. ACM will support students by maintaining servers
  for student projects. We are currently fundraising so we may purchase two
  servers -- one for any student project and one for [ACM Apache](#apache)
  projects.

  Please, if you can, [consider making a tax-deductible donation to support this
  project](#{url_for(:acm, :servers)}).

  For more information:

  * Project Leader: [ Brian Stack ](mailto:bis12@case.edu)
  * [Read more about the ACM Servers...](#{url_for(:acm, :servers)})
