%aside.right
  = image_tag 'link-state.png'
  %h2 Important Info
  %ul.aside-list
    %li
      %span.key Date:
      .value September 20th 2014
      %span.key Time:
      .value 10:00AM-8:00PM
      %span.key Location:
      .value
        %a{:href => 'http://goo.gl/xsJQRd'} Hovorka Atrium, Agnar Pytte Science Center, Case Western
      %span.key Contact:
      .value
        %a{:href => 'mailto:daj40@case.edu'} David Jannotta
      %span.key Twitter:
      .value
        %a{:href => 'https://twitter.com/cwruacm'} @cwruacm 
      %span.key Hashtag:
      .value #linkstate
      %span.key Facebook Event:
      .value 
        %a{:href => 'https://www.facebook.com/events/1388438538076240/'} Link-State 2014
%h1 Link-State 2014
:markdown
  ACM at Case Western Reserve University is proud to present our *third annual*
  Link-State conference.

%ul.toci
  %li
    %a{href: '#register'} Register
  %li
    %a{href: '#sponsors'} Sponsors
  %li
    %a{:href => '#schedule'} Schedule 

#register
  %h2 Register
  %iframe{:width => '100%', :height => '300', :frameborder => '0', :src => 'http://www.eventbrite.com/tickets-external?eid=12500710963&ref=etckt&v=2', :target => 'HTML' }
    %img{ :border => '0',  :src =>'http://www.eventbrite.com/custombutton?eid=12500710963', :alt =>'Register for ACM Link-State'}

#sponsors
  %h2 Sponsors
  %br
  The full sponsor list will be announced shortly.

%h2 Schedule
%table#schedule{border: 1, style: 'width: 100%'}
  %thead
    %th Time
    %th Schmitt
    %th Clapp
    %th Hovorka Atrium
  %tr
    %td 10:00am
    %td
    %td
    %td Breakfast Served
  %tr
    %td 11:00am
    %td
      Rockwell Automation
    %td
      Tim Downs
    %td
  %tr
    %td 12:00pm
    %td
      Adam Crompton
    %td
      Co-Op Office
      
    %td
  %tr
    %td 1:00pm
    %td
      Lightning Talks
    %td
    %td Lunch + Networking
  %tr
    %td 2:30pm
    %td
      Sarah Dutkiewicz
    %td
      Speaker TBA
    %td
  %tr
    %td 3:30pm
    %td
      Leandog 
    %td
      Victor Marmol
    %td
  %tr
    %td 4:30pm
    %td
      Gary Bernhardt
    %td
    %td
  %tr
    %td 5:30pm
    %td
      Closing Remarks
    %td
    %td Dinner Served
#speakers
  #keynote.hilite
    %h2
      Keynote: #{@keynote['title']}
      %br
      with #{@keynote['name']}
      %span.twitter= @keynote['twitter']
    :markdown
      #{@keynote['bio']}

  %h2 Speakers
  %ul.speaker-list
    - @speakers.each do |s|
      -last_name = s['name'].split.last.gsub(/\W/,'').gsub(/\W/,'')
      %li{ :id => "#{last_name}-desc" }
        - if s['email']
          %a{ href: "mailto:#{s['email']}"}
            %h3= s['name']
        - else
          %h3= s['name']
        -if s['twitter']
          %span.twitter= s['twitter']
        .affiliation= s['affiliation']
        .title= s['title']
        .bio
          :markdown
            #{s['bio']}
        -if s['website']
          %a{ :href => s['website'] }= s['website']

