%aside.right
  = image_tag 'LinkState175px.png'
  %h2 Important Info
  %ul.aside-list
    %li
      %span.key Date:
      .value Saturday, October 3rd, 2015
      %span.key Time:
      .value TBD, ca. 10:00AM-7:00PM
      %span.key Location:
      .value
        %a{:href => 'http://goo.gl/xsJQRd'} Hovorka Atrium, Agnar Pytte Science Center, Case Western Reserve University
      %span.key Contact:
      .value
        #{mail_to "trm70@case.edu", "Thomas Murphy"}
      %span.key Twitter:
      .value
        %a{:href => 'https://twitter.com/cwruacm'} @cwruacm 
      %span.key Hashtag:
      .value #linkstate
      %span.key Facebook Event:
      .value 
        %a{:href => 'https://www.facebook.com/events/1466688276963755/'} Link-State 2015

%h1 Link-State 2015
:markdown
  ACM at Case Western Reserve University is proud to present our *fourth annual*
  Link-State conference. We are actively organizing everything we need for
  October, so please read on!

  You can check out details of previous conferences at our Schedule
  [archive](#{url_for('/acm/conference/about#archive')}).

%ul.toci
  %li
    %a{:href => '#sponsors'} Sponsors
  %li
    %a{:href => '#schedule'} Schedule 

-# TODO: links to anchors of Register/Schedule/Speakers sections

-# TODO: Eventbrite registration iFrame and image
#register

#callforspeakers
  %h2 Call for Speakers
  %br
  We are seeking proposals from individuals with professional and
  technical experience in any programming, computer, or electrical related
  field to speak at Link-State 2015. We have had open source project
  maintainers, engineers, designers, and students present at past conferences
  and hope to represent as many computer-related fields as we can fit. Our
  talks are 1-hour sessions, including Q&A, that take place in the lecture
  spaces of the Agnar Pytte Science Center. Contact #{ mail_to "hacsoc-officers@case.edu", "the team", subject:"CWRU Hacker Society Link-State 2015 Speaking Opportunities" }
  for more information or to submit a proposal.
  
-# TODO: Sponsors list, see: config/sponsors.yml, section sponsors_2015
-# Be sure to put logos under public/images/sponsors_ls_2015

#sponsors
  %h2 Sponsors
  %br
  We are seeking event sponsors at this time! Contact
  #{mail_to "hacsoc-officers@case.edu", "the team", subject:"CWRU Hacker SocietyLink-State 2015 Sponsorship Opportunities" }
  to learn more about sponsorship. We have a variety of sponsorship tiers
  to provide an affordable opportunity to support Link-State 2015 and the CWRU
  Hacker Society with great benefits for the sponsoring organization!
  %br
  %br
  Watch for updates here as we confirm more sponsors.

-# Put the code to render logos here once sponsors.yml has entries for 2015

-# TODO: Complete schedule of events; filling in table
#schedule
%h2 Preliminary Schedule
%table#schedule{border: 1, style: 'width: 100%'}
  %thead
    %th Time
    %th Hovorka Atrium
    %th Millis-Schmitt Auditorium
    %th Clapp Lecture Hall
  %tr
    %td 9:00am
    %td Check-In and Breakfast
    %td 
    %td 
  %tr
    %td 10:00am
    %td
    %td Track 1
    %td Track 2
  %tr
    %td 11:00am
    %td
    %td
    %td
  %tr
    %td 12:00pm
    %td
    %td      
    %td
  %tr
    %td 1:00pm
    %td Lunch + Networking
    %td
    %td 
  %tr
    %td 2:30pm
    %td
    %td
    %td
  %tr
    %td 3:30pm
    %td
    %td
    %td
  %tr
    %td 4:30pm
    %td
    %td
    %td
  %tr
    %td 5:30pm
    %td Dinner Served
    %td Closing Remarks
    %td 

-# TODO: Speakers list, including talk description and links, see: config/speakers.yml, section speakers_2015
#speakers
